body { background-color: rgb(15, 125, 242) !Important;
    min-height: 100vh;
  padding: 2%;
  margin: 0;
  font-family: "Oleo Script", system-ui  !important; 
  font-size: 16px;

}
.flexcard{
    min-height: 100vh;
    background-color: rgb(0, 123, 255);
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.flexcard-end{
  min-height: 100vh;
  background-color: rgb(0, 123, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card{
    width: 60%;
    
}

.card-img-top{
    height: 220px;

}

.quiznight{
    height: 100px;
}

.card-body {
    display: flex;
    justify-content: space-between;
align-items: center;
background-color: black;
}

.list-group-item:hover{
background-color: rgb(74, 43, 113) !important;
cursor:-webkit-grab;

}

.list-group-item{
    background-color: black !important ;
    color: rgb(201, 157, 11) !important; 
    text-shadow: 0px 0px 34px rgb(0, 0, 0);
    border-radius: 40px;
}

.card-body1{
    background-color: black;
    color: rgb(241, 196, 82);
    padding-left: 16px;
}


.oleo-script-regular {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .oleo-script-bold {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  
  .h1one{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .frage-color{
    color: goldenrod;
  }

  .list-group{
   background-color:rgb(89, 19, 89);
  }

  .next-Button {
    background-color: rgb(72, 65, 65);
    color: mediumseagreen;
  }

  .next-Button:hover{
    background-color: mediumspringgreen;
    color: black;
  }

.endImg{
height: 400px;
}

.width-100 {
  width: 100%;
}

.text-center{
   text-align: center;
} 

.coll{
  display: flex;
  flex-direction: column;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.button-row:hover {
  background-color: mediumspringgreen !important;
  color: black !important;
}

.button-row button:hover{
  background-color: mediumaquamarine;
  color: black;
}